body {
    height: 400vh
}

#page-links {
    text-align: center
}

#job-title {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
}
.parallax-container {
    height: 700px;
}
.par-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#services-section {
    margin-top: 50px;
}

.services {
    color: black;
}

.services-list {
    display: inline-block;
}

#about-image {
    width: 400px;
    height: 400px;
}
#about-section {
    opacity: 0;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Bree Serif', serif;
}

.icon {
    font-size: 55px;
}

#tools-header {
    text-align: center
}

.toolbar {
    text-align: center
}

.tool-list {
    text-align: center;
    margin: 20px
}

.tool {
    margin: 10px;
}

#divider1 {
    background-color: black;
    height: 80px;
}

.social {
    color: white;
    font-size: 3vw;
    margin-left: 100px;
    margin-right: 100px
}

.social-bar {
    padding-top: 15px
}
