body {
    min-height: 200vh;
    background-color: beige;
};

.parallax-container {
    height: 300px;
  };

.thin-text {
      font-weight: 300;
      background: rgba(96, 125, 139, .4);
      padding: 20px;
      border-radius: 10px;
};

.card-image {
    height: 200px; /* Your height here */
    overflow: hidden;
}
