body {
    background-color: black;
    color: white;
    margin: 0;
}

// COMPONENT FILES
@import './components/navbar.scss';
@import './components/landing.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/sectionHeader.scss';
@import './components/card.scss';
@import './components/portfolio.scss';
@import './components/footer.scss';
// VENDOR FILES
@import './vendors/typography.scss';
@import './vendors/animations.scss';
@import './vendors/responsive.scss';