body {
    background-color: black;
    color: white;
    margin: 0;
}

// COMPONENT FILES
@import './components/navbar.scss';
@import './components/landing.scss';
@import './components/hero.scss';
// VENDOR FILES
@import './vendors/typography.scss';
@import './vendors/animations.scss';